
.aside-movie-ad1{
    position: absolute;
    right: -180px;
    top:0;
}

.movie-trailor{
    padding-top: 40px;
    clear: both;
    zoom: 1;
    box-sizing: border-box;
}


.heading{
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 39px;
    background: #f6f6f6;
}

.heading h4{
    float: left;
    margin-left: 16px;
    line-height: 39px;
    color: #333333;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: -1px;
    box-sizing: border-box;
}

.heading .count{
    display: inline-block;
    margin-left: 4px;
    font-weight: 300;
    line-height: 40px;
    font-size: 12px;
    box-sizing: border-box;
}

.movie-trailor ul{
    margin-left: -10px;
    list-style: none;
    display: flex;
    
    flex-wrap: wrap;
}

.movie-trailor li{
    height: 187px;
    width: 32%;
    margin: 0 0 15px 10px;
   
    flex-shrink: 0;
}

.box-image2 img{
    height: 142px;
    width: 100%;
   
  
}
.box-image2-detail{
    position: relative;
}
.box-image2-detail .play-icon{
    position: absolute;
    right:5px;
    bottom: -60px;
    width: 44px;
    height: 44px;
    background: url(../img/icon.png) -60px -21px no-repeat;
    font: 0/0 a;
    zoom:1;
}

.title{
    margin-top: 10px;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
    color: #333333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}


.hd-icon{
    border-color: #2a6fb6;
    color: #2a6fb6;
    font-weight: bold;
    display: inline-block;
    height: 13px;
    margin-right: 5px;
    padding: 0 3px;
    font-size: 10px;
    border: 1px solid;
    text-align: center;
}


.text-info{
    margin-top: 3px;
    color: #666666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

